.loginForm {
    margin-top: 150px;
    margin-left: 700px;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid darkslateblue;
    border-radius: 5px;
}

.SignUpForm {
    margin-top: 150px;
    margin-left: 700px;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
}

.pwdChangeForm {
    margin-top: 150px;
    margin-left: 700px;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
}

.loginButton {
    margin-top: 20px;
    width: 82%;
    height: 50px;
    font-size: 27px;
    font-weight: bold;
    background-color: indigo;
    color: white;
    margin-left: 50px;
}

.idDoubleCheckButton {
    margin-left: 300px;
    position: absolute;
    margin-bottom: 123px;
}

.signUpCancleButton {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: darkslateblue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.signUpButton {
    width: 120px;
    height: 40px;
    margin-left: 60px;
    margin-top: 20px;
    background-color: darkslateblue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.pwdChangeButton {
    width: 120px;
    height: 40px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.pwdChangeCancleButton {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;

    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.LoginMenuText {
    text-decoration: none;
    color: black;
}

.LoginMenuText:hover {
    color: dodgerblue;
    cursor: pointer;
}

.loginMenu {
    margin-left: auto;
    width: 60%;
    font-size: 16px;
    margin-right: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.loginInput {
    width: 80%;
    height: 35px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.logo {
    width: 250px;
    margin-bottom: 30px;
}

.idCheck {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-right: 5px;
}

.headerMenu {
    text-decoration: none;
    color: #282c34;
    font-weight: bold;
}

.headerMenu:hover {
    color: dodgerblue;
    cursor: pointer;
}

.boardNo {
    width: 70px;
    text-align: center;
}

.boardTitle {
    width: 400px;
    text-align: center;
}

.boardTitles {
    display: block;
    max-width: 360px;
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.parentTitles {
    display: block;
    max-width: 215px;
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.parentTitles:hover {
    color: dodgerblue;
    cursor: pointer;
}

.ChildCommentContent {
    max-width: 215px;
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.commentContent {
    word-break: break-all;
}

.boardTitles:hover {
    color: dodgerblue;
    cursor: pointer;
}

.boardWriter {
    width: 70px;
    text-align: center;
}

.boardDate {
    width: 150px;
    text-align: center;
}

.boardHit {
    width: 70px;
    text-align: center;
}

.boardSecret {
    width: 70px;
    text-align: center;
}

.boardFrame {
    border: 1px black solid;
    height: 75.3%;
}

.commentFrame {
    height: 378px;
   overflow:scroll;
    maxHeight:378px;
}

.mainFrame {
    border: 2px solid darkslategray;
    height: 900px;
    width: 1000px;
    margin-left: 450px;
    padding: 10px 10px;
    margin-top: 10px;
    overflow: scroll;
    max-height: 900px;
}

.mainFrame::-webkit-scrollbar {
    display: none;
}

.LoginForm {
    width: 90%;
}

.commentForm {
    border: 2px slategray solid;
    height: 50px;
    border-radius: 5px;
}

.commentMenuFrame {
    border: solid 1px darkgrey;
    border-left: none;
    border-right: none;
}

.commentMenu {
    padding: 5px 0 5px 7px;
}

.commentText {
    padding: 5px 0 5px 0;
}

.commentButton {
    margin-left: 10px;
    border: none;
    background-color: #c1c9e3;
    border-radius: 4px;
}

.commentButton:hover {
    color: royalblue;
}

.commentModifyButton {
    margin-left: 10px;
    border: none;
    background-color: olivedrab;
    border-radius: 4px;
}

.hideModifyComment {
    display: none;
}

.openModifyComment {
    display: block;
}

.newBoardBtn {
    height: 30px;
    margin-top: 17px;
    margin-left: 15px;
}

.pwdTitle {
    position: absolute;
    padding-left: 5px;
    margin-right: 400px;
    margin-bottom: 600px;
    width: 170px;
    background-color: white;
    color: black;
}

.signUpTitle {
    position: absolute;
    padding-left: 5px;
    margin-right: 450px;
    margin-bottom: 600px;
    width: 110px;
    background-color: white;
    color: black;
}

.form-control:focus {
    border-color: #337ab7 !important;
    box-shadow: inset 0 1px 1px #337ab7, 0 0 5px #337ab7 !important;
}

.commentCnt {
    color: red;
}

.boardDetailTitle {
    word-break: break-all;
}

.boardContent {
    word-break: break-all;
}


/* ================ 페이징 css 시작 ===================== */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }

  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }

  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: cornflowerblue;
  }

  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }

  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }

/* ================ 페이징 css 끝 ===================== */

.SecretButtonY {
    border: none;
    color: white;
    border-radius: 5px;
    background-color: royalblue;
    font-size: 14px;
    width: 52px;
}

.SecretButtonN {
    border: none;
    color: white;
    border-radius: 5px;
    background-color: crimson;
    font-size: 14px;
}





